<!DOCTYPE html>
<html>
<head>
  <title>Socialbets</title>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>  

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body>

<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <a href="/">
          <img class="logo" src="/logo.png" height="50">
        </a>  
      </div>

      <div class="col-xs-12 col-md-4 notices">      
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-5 nav-bar">
        <p class="navbar-text pull-right">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>

      </div>
    </div>
  </div>
</header>


<section class="body-content">
  <div class="container">  
    <div class="row">
      <div class="col-xs-12 col-md-12">      
        <%= yield %>
      </div>
    </div>
  </div>
</section>

<div class="container download-app"> 
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <a href="https://itunes.apple.com/es/app/socialbets/id955115960" target="_blank">Descargar App para iOS </a>
    </div>
    <div class="col-xs-12 col-md-6">
      <a href="/android.zip">Descargar App para Android </a>
    </div>
  </div>
</div>

<footer>
  Raul Villalonga Palliser  
</footer>

</body>
</html>
